html, body, container{
    width: 100%;
    height: 100%;
}
body{
    background: black;
}
.cover{
    padding-top: 0vh;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 80vw;
    
    color: white;
    
    display: table;
    margin: 0;
    min-height: 100vh;
    
    background: url("Covers/group.jpg") no-repeat center fixed;
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.cover > p{
    mix-blend-mode: difference;
    color: greenyellow;
    font-size: 10vw;
    position: absolute;
    left: 0vw;
    bottom:0vh;
}
.menu{
    width: 100%;
    padding-top: 0vh;
}
.btn ,.btn-circle ,.page-scroll > container{
    background-color: black;
}


button{
    height: 15vh;
    
}
.btn{
    transition-duration: .5s, .5s;
    transition-timing-function: ease-in-out;
    z-index: 0;
    /*background-blend-mode: color;*/
    font-weight: 900;
    outline-color: black;
    font-size: 4vw;
}
.about{
    background: url(Covers/1.jpg) no-repeat center;
    background-size:cover;
    color: invert(100%);
    
}

.events{
    
    background: url(Covers/5.jpg) no-repeat center;
    background-size:cover;
}
.media{
    background: url(Covers/3.jpg) no-repeat center;
    background-size:cover;
}
.contact{
    
    background: url(Covers/4.jpg) no-repeat top center;
    background-size:cover;
}
.btn-default > p{
    transition-duration: .5s, .5s;
    transition-timing-function: ease-in-out;
    z-index: 1;
    color: white;
    filter: none;
    
}
.btn-default:hover > p{
    z-index: 1;
    mix-blend-mode: exclusion;
    text-transform: full-width;
    filter: none;
    
}
.btn-default:hover{
    background-blend-mode: hard-light;
}


.front-pg{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
    color: aliceblue;
    font-size: 2vw;
    min-height: 80vh;
}
.front-pg > p{
    padding-bottom: 3vh;
}
.navbar-default{
    background-color: green;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 2vw;
    border-color: transparent
}
.container{
    background-color: green;
    border-color: transparent;   
}
iframe{
    
    width: 80vw;
    height: 40vw;
}
.About-us, .events_, .Media_, .contact_ {
    height: 50vh;
    padding-top: 15vh;
    text-align: center;
}
h1
{
    mix-blend-mode: difference;
    color: white;
    font-weight: 700;
    text-align: center;
    font-size: 10vw;
    
}
.About-us{
    background: url(FRONTPG/Blue.jpg) repeat center scroll,  url(FRONTPG/aboot.jpg)no-repeat bottom fixed;
    background-blend-mode:color-dodge;
    background-size: cover;
}
.events_{
    background: url(FRONTPG/Gold.jpg) repeat center scroll, url(FRONTPG/group2.jpg) no-repeat top fixed;
    background-blend-mode: overlay;
    background-size: cover;
}
.Media_{
    background: url(FRONTPG/Green.jpg) repeat center scroll, url(FRONTPG/burst.gif) no-repeat center fixed;
    background-blend-mode: color-burn;
    background-size: cover;
}
.contact_{
    background: url(FRONTPG/blue.jpg) repeat center scroll, url(FRONTPG/contact.jpg) no-repeat top fixed;
    background-blend-mode: color-dodge;
    background-size: cover;
}
.news > h2{
    font-size: 5vw;
    padding-bottom: 1vh;
}
.news{
    float: right;
    margin: 0vw;
    color: white;
    text-align:center;
    padding-top: 2vh;
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 2vw;
}
.news > img{
}
.glyphicon-home{
    background: none;
    color: white;
    position: absolute;
    left: 0px;
}
/*This is now for about us*/
.cover2{
    padding-top: 0vh;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 80vw;
    
    color: white;
    
    display: table;
    margin: 0;
    min-height: 100vh;
    
    background: url("Covers/aboot.jpg") no-repeat center fixed;
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.cover2 > p{
    mix-blend-mode: exclusion;
    color: Gold;
    font-size: 20vw;
    text-align: left;
    padding-bottom: 0vh;
    position: absolute;
    bottom: 0vh;
    left: 0px;
    
}
.Mission_S > h1{
    padding-top: 5vh;
}
.Mission_S > p{
    color: white;
    font-size: 2.2vw;
    text-align: center;
    padding-top: 2vh;
    padding-left: 5vw;
    padding-right: 5vw;
    
}
/*This is now for Events*/
.cover3{
    padding-top: 375px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 8vw;
    
    color: white;
    
    display: table;
    margin: 0;
    min-height: 100vh;
    
    background: url("Covers/events.jpg") no-repeat center fixed;
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.cover3 > p{
    mix-blend-mode: exclusion;
    font-size: 25vw;
    color: greenyellow;
    position: absolute;
    bottom: 0vh;
    left: 0px;
}
.Events_S > h1{
    padding-top: 0vh;
}
.Events_S > p{
    font-size: 3vh;
    color: white;
    text-align: center;
    min-height: 70vh;
}
/*This is now for Media*/
.cover4{
    padding-top: 0vh;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 8vw;
    
    color: white;
    
    display: table;
    margin: 0;
    min-height: 100vh;
    
    background: url("Covers/pompom.gif") no-repeat center fixed;
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.cover4 > p{
    mix-blend-mode: exclusion;
    color: gold;
    font-size: 30vw;
    position: absolute;
    bottom: 0vh;
    left: 0px;
}
.Media_S > h1 {
    float: right;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 5vw;
    color: white;
    padding: 0vh;
}
.CheerC_1 > .btn, .TryOut_1 > .btn, .Cheers_1 >.btn, .Dances_1 >.btn {
    float: left;
    padding: 10vw;
    padding-right: 2vw;
    background-color: greenyellow;
  height: 50vh;
  width: 50vh;
  border-radius: 50%;
}
.CheerC_1 > h1, .TryOut_1 > h1, .Cheers_1 >h1, .Dances_1 > h1{
    float: top;
} 
.CheerC_1 > p, .TryOut_1 > p, .Cheers_1 >p, .Dances_1 > p{
    padding-left: 2vw;
    padding-right: 2vw;
    color: white;
    text-align: center;
    font-size: 2vw;
    float: center;
} 
.CheerC_1, .TryOut_1, .Cheers_1, .Dances_1{
    min-height: 800px;
    padding: 20px;
}
.cheerC:hover, .TryOut:hover, .Cheers:hover,.Dances:hover{
    background-blend-mode: multiply;
}
.cheerC {
    background: url(Mediass/cheer_camp.jpg)top;
}
.TryOut {
    background: url(Mediass/tryouts.jpg)center;
}
.Cheers {
    background: url(Mediass/cheers.jpg)center;
}
.Dances {
    background: url(Mediass/Dances.jpg)top;
}
.fluff{
    min-height: 10vh;
}
.dropdown-menu{
    background-color: greenyellow;
    color: deepskyblue;
    padding: 3vw;
    font-size: 2vw;
    border: none;
    cursor: pointer;
    position: relative;
}
.dropdown-menu_C:focus{
     cursor: pointer;
     width: 10vw;
    position: relative;
    display:inline-block;
}
.btn_C{
    color: blue;
    background-color: greenyellow;
}
.btn_C:hover, .btn_C:focus{
    background-color: green;
    color: darkblue;
}
.btn-group_C{
    padding-left: 4vw;
    padding-right: 4vw;
}
/*This is now for Kids Camp Media*/
.cover5{
    padding-top: 3vh;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 8vw;
    
    color: white;
    
    display: table;
    margin: 0;
    min-height: 100vh;
    
    background: url("Mediass/cheer_camp.jpg") no-repeat center fixed;
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.cover5 > p{
    mix-blend-mode: difference;
    color: deepskyblue;
    font-size: 16vw;
    position: absolute;
    bottom: 0vh;
    left: 0vw;
}

h2, h3, h5{
    color: white;
}
h3, h5{
    text-align: center;
}
.Kids_Camp_Media{
    width: 100%;
    align-self: center;
    padding-left: 5vw;
    padding-right: 5vw;
}
.ages3_4_17 > iframe {
    align-content: center;
    text-align: center;
}
.KidsC{
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
}
.Camp_2017> h2, .Camp_2017 > h3,.Camp_2016> h2, .Camp_2016 > h3{
    text-align: left;
}
h2{
    font-size: 5vw;
    color: greenyellow;
    text-shadow: -1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
}
h3{
    font-size: 4vw;
}
h5{
    padding-top: 4vh;
    padding-bottom: 0px;
    font-size: 3vw;
}
.KCamp_2017 > h1,.KCamp_2016 > h1{
    color:blue;
    text-shadow: -10px 0 deepskyblue, 0 1px deepskyblue, 1px 0 deepskyblue, 0 -1px deepskyblue;
}
.KCamp_2016 > .btn-group, .KCamp_2017 > .btn-group{
    width: 100%;
    text-align: center;
    padding-left: 2vw;
    padding-right: 2vw;
}
.KidsC > h2{
    font-size: 15vw;
    text-shadow: -10px 0 Green, 0 1px Green, 1px 0 Green, 0 -1px Green;
}
.KidsC > h3{
    color: blue;
    text-align: left;
    font-size: 5vw;
    text-shadow: -1px 0 darkblue, 0 1px darkblue, 1px 0 darkblue, 0 -1px darkblue;
}
.KidsC > p{
    color: white;
    font-size: 2vw;
}
/* This is now for Tryouts */
.cover6{
    padding-top: 0vh;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 8vw;
    
    color: white;
    
    display: table;
    margin: 0;
    min-height: 100vh;
    
    background: url("Mediass/tryouts.jpg") no-repeat bottom fixed;
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.cover6 > p{
    mix-blend-mode: difference;
    color: goldenrod;
    font-size: 20vw;
    position: absolute;
    bottom: 0vh;
    left: 0vw;
}
.Tryout_Vids, .Cheer_Vids, .Dance_Vids{
    text-align: center;
}
.Cheer_Vids > h5{
    padding: 0vw;
}
/* This is now for Cheers */
.cover7{
    padding-top: -vw;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 8vw;
    
    color: white;
    
    display: table;
    margin: 0;
    min-height: 100vh;
    
    background: url("Mediass/cheers.jpg") no-repeat center fixed;
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.cover7 > p{
    mix-blend-mode: difference;
    color: deeppink;
    font-size: 25vw;
    position: absolute;
    bottom: 0vh;
    left: 0vw;
}
/* This is now for Dances */
.cover8{
    padding-top: 0vh;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 20vw;
    
    color: white;
    
    display: table;
    margin: 0;
    min-height: 100vh;
    
    background: url("Mediass/Dances.jpg") no-repeat top fixed;
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.cover8 > p{
    mix-blend-mode: difference;
    color: deeppink;
    font-size: 25vw;
    position: absolute;
    bottom: 0vh;
    left: 0vw;
}
.btn_D, .btn-group_D{
    background-color: greenyellow;
    color: darkblue;
    top: 0vh;
    right: 0vh;
    position: fixed;
    min-width: 20vw;
    z-index:3000;
}
.fa, .glyphicon{
    font-size: 10vw;
}
.links_contacts{
    text-align: center;
}
/* This is now for Dances */
.cover9{
    padding-top: 0vh;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 10vw;
    
    color: white;
    
    display: table;
    margin: 0;
    min-height: 100vh;
    
    background: url("Covers/4.jpg") no-repeat top fixed;
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.cover9 > p{
    mix-blend-mode: difference;
    color: lightcyan;
    font-size: 17vw;
    position: absolute;
    bottom: 0;
    left: 0vh;
}